body {
  scroll-behavior: smooth;
}

h2 {
  margin-bottom: 20px;
}

header {
  background: linear-gradient(90deg, #d8c65e, #a5a736);
}

button:hover {
  background-color: #ff6600;
  transform: scale(1.05);
  transition: 0.3s ease;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}
